body {
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 3;
    font-style: normal;
    font-size: larger;
    background-color: rgb(243, 234, 234);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Center text */
.center-text {
    color: rgb(0, 0, 0);
}


body {
    background: black;
    color: white;
    font-family: "Smooch Sans", sans-serif;

    line-height: 1.6;
    overflow-y: hidden;
}

.final-container {
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

/* Back button */
.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgb(25, 25, 30);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

/* hamburger button menu pos */
.hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.hamburger-menu button {
    border: none;
    background: rgb(255, 125, 125);
    font-size: 1.8em;
    border-radius: 8px;
    cursor: pointer;
}

/* Fullscreen menu */
.menu1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(95, 95, 95);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.menu1 a {
    padding: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    cursor: pointer;
}

body.crt {
    background-color: rgb(25, 25, 30);
    color: #fff;
    font-family: "Courier New", monospace;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}


/* When menu is open */
.menu-deployed {
    display: flex;
    background-color: rgb(243, 234, 234);
}


:root {
    --crt-red: rgb(218, 49, 49);
    --crt-green: rgb(112, 159, 115);
    --crt-blue: rgb(40, 129, 206);
}

.final-container {


    max-width: 6000px;
}

/* Global */
html {
    font-size: 1.5rem;
    font-family: "Courier New", monospace;
    min-height: 100%;
}

main {
    height: 100vh;
    height: 100dvh;
    color: rgba(255, 255, 255, 0.75);
}

.pink {
    color: pink;
}

.yellow {
    color: yellow;
}

.lightblue {
    color: lightblue;
}

.code {
    color: attr(data-color);
}

.wrapper {
    padding-top: 2rem;
    padding-left: 1rem;
    display: inline-block;

}

.wrapper,
.code {
    display: inline-block;

    overflow: hidden;
    max-height: 100%;
    vertical-align: top;
}

.code {
    animation: typewriter 1s steps(14) 1s 1 normal both;
    line-height: 1;
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
}

.cursor {
    display: inline-block;
    animation: blinkTextCursor 500ms infinite normal;
}

/* Animation */


@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.crt {
    background-color: rgb(25, 25, 30);
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5),
        -1px -1px rgba(0, 255, 255, 0.4);
    position: relative;

    &:before,
    &:after {
        content: "";
        transform: translateZ(0);
        pointer-events: none;
        opacity: 0.5;
        mix-blend-mode: overlay;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }

    &:before {
        background: repeating-linear-gradient(var(--crt-red) 0px,
                var(--crt-green) 2px,
                var(--crt-blue) 4px);
    }

    &:after {
        background: repeating-linear-gradient(90deg,
                var(--crt-red) 1px,
                var(--crt-green) 2px,
                var(--crt-blue) 3px);
    }
}

@media (max-width: 2) {



    .hamburger-menu {
        display: flex;
        align-items: center;
    }

    .menu1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        padding: 20px;
    }

    .menu1 a,
    .menu1 a:hover {
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: transparent;

    }

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        color: rgb(0, 0, 0)
    }

    .menu-deployed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        z-index: 1000;
        padding-top: 50px;
    }

    button {
        border-width: 0px;
        background-color: white;
    }

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #000;
        background: #000;
        z-index: 1000;
        color: rgb(255, 255, 255);


    }

    nav a {
        color: rgb(0, 0, 0);
    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {
        margin-top: 500px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
        color: rgb(255, 255, 255);
        text-shadow: none;

    }

    .books {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
        grid-auto-flow: row dense;
    }

    .books [class^="im"] {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .books img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .left_stories {
        grid-column: 1/3;

    }

}